@{
    ViewBag.Title = "Home Page";
}

<h2><center >Bienvenido al Sistema de Facturacion</center></h2>

<br />
<br />

<div class="container" >
    <h4>Si desea consultar un producto, vaya a la barra y seleccione la palabra <strong>Producto</strong> </h4>

    <h4>Si desea consultar un Proveedor, vaya a la barra y seleccione la palabra <strong>Proveedor</strong> </h4>

    <h4>Si desea consultar un Cliente, vaya a la barra y seleccione la palabra <strong>Cliente</strong> </h4>

</div>