
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<a href="http://localhost:54387/Principal/Mantenimiento" class="btn bg-info">click para ir al modulo de Mantenimiento</a>

<a href="http://localhost:54387/Principal/Procesos" class="btn bg-info">click para ir al modulo de Procesos</a>

<a href="http://localhost:54387/Principal/Consultas" class="btn bg-info">click para ir al modulo de Consultas</a>

